# Database Configuration
DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
DB_NAME=postgres
DB_USER=postgres.fdvrmoufpiqjqqmphorc
DB_PASSWORD=Adk06092000
DB_PORT=5432

# Scraper Configuration
# How often to run the scraper (in seconds)
# 3600 = 1 hour, 1800 = 30 minutes, 300 = 5 minutes
SCRAPE_INTERVAL=3600

# Number of articles to scrape per feed
LIMIT_PER_FEED=10